<div id="social-media">
  <div class=" main container bg-black">
    <div class="row table-display">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vmiddle">
          <h2 class="white">CONNECT WITH <span class="peach">Megazone</span></h2>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vmiddle cta-social-media-2">
          <a href="https://www.facebook.com/megazonenoarlunga" target="_blank" title="facebook"><img class="img-responsive" src="images/buttons/btn-facebook-2.png"></a>
          <!--<a href="#" target="_blank" title="instagram"><img class="img-responsive" src="images/buttons/btn-instagram-2.png"></a>-->
          <a href="https://www.youtube.com/channel/UCgLmfZgmS5l7MloNjqT2Heg" target="_blank" title="youtube"><img class="img-responsive" src="images/buttons/btn-youtube-2.png"></a>
          <!--<a href="#" target="_blank" title="twitter"><img class="img-responsive" src="images/buttons/btn-twitter-2.png"></a>-->
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vmiddle cta-newsletter">
          <a href="email-updates"><img class="img-responsive" src="images/buttons/btn-newsletter-sign-up.png"></a>
        </div>
    </div><!--/.row-->
   </div><!-- /.container -->
</div><!-- /#cta-medium -->

<div id="footer">
  <footer>
    <div class="main container footer">
        <div class="row">
            <div class="col-md-12">
              <div class="footer-text">
                <h2>Megazone &#169; Copyright <script type="text/javascript">now = new Date();year = now.getFullYear();</script><script type="text/javascript">document.write(year);</script>. All Rights Reserved.</h2>
                <p><a href="/">Home</a> |
                <a href="kids-parties">Parties</a> |
                <a href="packages">Sessions & Packages</a> |
                <a href="laser-tag">Attractions</a> |
                <a href="calendar">Events</a> |
                <a href="league-and-competition">Laser Sports</a> |
                <a href="contact-details">Contact Us</a> | 
                <a href="privacy-policy">Privacy</a> |
                <a href="terms-of-use">Terms of Use</a> |
              </div>
              <div class="footer-btn">
                <a href="/"><img class="img-responsive" src="images/buttons/btn-logo-footer.png"></a>
              </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
  </footer>
</div>

<!-- Hot mess -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bxslider.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script>
  $('#date').datepicker({format: 'dd-mm-yyyy', startDate: '-3d'});
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<style>
#qm0 {
  z-index: 101 !important;
}
.ui-widget-overlay {
  background: #000 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .7;
  filter: Alpha(Opacity=70);
  z-index: 102;
}
#dialog,
.clicktocall,
.close {
  font-family:'hero_lightlight', 'DINNextLTW01-UltraLight 706122',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style:normal;
}
#dialog p {
  font-size:18px;
  margin-bottom:5px;
}
.ui-dialog .ui-dialog-title {
  font-family:'venera900', 'Sol Condensed W01 Bold',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:17px;
  font-style:normal;
  text-align:center;
  margin: 5px;
}
.ui-widget button {
  font-family:'heroregular', 'DIN Next W01 Medium',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:18px;
  font-style:normal;
  text-align:center;
}

#dialog { height: auto !important; overflow: auto !important; }
.clicktocall {
   -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
   -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
   box-shadow:inset 0px 1px 0px 0px #97c4fe;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
   background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
   background-color:#3d94f6;
   -webkit-border-top-left-radius:12px;
   -moz-border-radius-topleft:12px;
   border-top-left-radius:12px;
   -webkit-border-top-right-radius:12px;
   -moz-border-radius-topright:12px;
   border-top-right-radius:12px;
   -webkit-border-bottom-right-radius:12px;
   -moz-border-radius-bottomright:12px;
   border-bottom-right-radius:12px;
   -webkit-border-bottom-left-radius:12px;
   -moz-border-radius-bottomleft:12px;
   border-bottom-left-radius:12px;
   text-indent:0;
   display:inline-block;
}
.clicktocall:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
   background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
   background-color:#1e62d0;
}.clicktocall:active {
   position:relative;
   top:1px;
}


.ui-widget-header {
  border: 1px solid #F9A350;
  background: #F9A350;
  color: white;
}

.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding:0;
  border:1px solid white !important;
  outline: 0;
  height:auto;
  z-index: 9999999999 !important;
  -moz-box-shadow: 0 0 12px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,.6);
  box-shadow: 0 0 12px rgba(0,0,0,.6);
  border-radius: 5px !important;
  width:280px !important;
}
.close {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topleft:12px;
  border-top-left-radius:12px;
  -webkit-border-top-right-radius:12px;
  -moz-border-radius-topright:12px;
  border-top-right-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  -moz-border-radius-bottomright:12px;
  border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-left-radius:12px;
  text-indent:0;
  display:inline-block;
}
.close:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
   background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
   background-color:#e9e9e9;
}.close:active {
   position:relative;
   top:1px;
}


.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
}
.ui-button {
  display: none;
}
.ui-widget-overlay
{
  height: 500% !important;
}
</style>

<!--popup dialog -->
<div id="dialog" title="CALL MEGAZONE" style="display:none;" class="popup-dialog text-center">
  <p><strong>Telephone</strong>: (08) 8186 3700</p>
  <div class="pad-bottom-10"><a href="tel:0881863700"><button type="button" class="btn btn-lg btn-warning">CLICK TO CALL <span class="glyphicon glyphicon-earphone"></span></button></a></div>
  <div class="pad-bottom-10"><a id="dialogCancel" href="javascript:void(0)">
    <button type="button" class="btn btn-xs btn-default">CLOSE <span class="glyphicon glyphicon-remove"></span></button></a></div>
</div>

<script>

$(function() {
$( "#dialog" ).dialog({
autoOpen: false,
height: 350,
modal: true
});

$( ".click-to-call" ).click(function() {
$( "#dialog" ).dialog( "open" );
});

$( "#dialogCancel" ).click(function() {
$( "#dialog" ).dialog( "close" );
});

});
</script>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
    slideWidth: 293,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 0
  });
});
</script>

<link rel='stylesheet' href='css/plusgallery.css'>

<script>window.jQuery || document.write("<script src='js/jquery-1.7.2.min.js'>\x3C/script>")</script>

<script src='js/plusgallery.js'></script>
<script type='text/javascript'>
  $('#plusgallery').plusGallery();
</script>

 <script>
    (function() {
       $('.dropdown-toggle').click(function() {
            var loc = $(this).attr('href');
            window.location= loc;
        });
  })();
</script>
