<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-4 col-md-4 col-lg-5 header-logo">
        <a href="/"><img class="img-responsive" src="images/buttons/btn-logo.png" alt="Megazone"></a>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 hide-xs">
        <div class="cta-social-media-1">
          <a href="email-updates" title="Newsletter Sign Up"><img class="img-responsive" src="images/buttons/btn-newsletter.png" alt="newsletter"></a>
          <a href="https://www.facebook.com/megazonenoarlunga" target="_blank" title="facebook"><img class="img-responsive" src="images/buttons/btn-facebook.png" alt="facebook"></a>
          <a href="https://www.youtube.com/user/LaserzoneNoarlunga" target="_blank" title="youtube"><img class="img-responsive" src="images/buttons/btn-youtube.png" alt="youtube"></a>
          <a href="https://plus.google.com/+LaserzoneNoarlungaCentre/" target="_blank" title="google+"><img class="img-responsive" src="images/buttons/btn-google.png" alt="google+"></a>
        </div><!--/.cta-social-media-1-->
      </div>

      <div class="col-xs-5 col-sm-4 col-md-3 col-lg-4 header-phone">
        <a href="book-online"><img class="img-responsive" src="images/buttons/btn-phone-header.png" alt="book online"></a>
      </div>

      <div class="col-xs-12 show-xs">
        <div class="cta-social-media-1">
          <a href="email-updates" title="Newsletter Sign Up"><img class="img-responsive" src="images/buttons/btn-newsletter.png" alt="newsletter"></a>
          <a href="https://www.facebook.com/megazonenoarlunga" target="_blank" title="facebook"><img class="img-responsive" src="images/buttons/btn-facebook.png" alt="facebook"></a>
          <a href="https://www.youtube.com/user/LaserzoneNoarlunga" target="_blank" title="youtube"><img class="img-responsive" src="images/buttons/btn-youtube.png" alt="youtube"></a>
          <a href="https://plus.google.com/+LaserzoneNoarlungaCentre/" target="_blank" title="google+"><img class="img-responsive" src="images/buttons/btn-google.png" alt="google+"></a>
        </div><!--/.cta-social-media-1-->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- #header -->

<div id="navbar">
  <div class="navbar navbar-inverse" role="navigation" id="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="nav-btn">
          <a href="email-updates"><img class="img-responsive hide-xxs" src="images/buttons/btn-newsletter-sm.png"></a>
          <a href="email-updates"><img class="img-responsive show-xxs" src="images/buttons/btn-sign-up.png"></a>
        </div>
        <button type="button" class="navbar-toggle navbar-toggle-button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <div class="navbar-toggle-text">MAIN MENU</div>
          <div class="navbar-toggle-icon">
            <span class="icon-bar icon-bar-top"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </button>
        <a class="navbar-brand" href="#">MAIN MENU</a>
      </div>
      <div class="navbar-collapse collapse">

<ul class="nav navbar-nav">
<li class="dropdown"><a href="/" class=""  article-count="1">Home </a>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="3">Kids Birthday Parties <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/kids-parties">Kids Birthday Parties</a></li>
<li><a href="/sports-clubs-parties">Sports Clubs Parties</a></li>
<li><a href="/class-parties">Class Parties</a></li>
</ul>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="8">Sessions <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/packages">Packages</a></li>
<li><a href="/sessions-deals">Sessions & Deals</a></li>
<li><a href="/individual-attraction-prices">Individual Attraction Prices </a></li>
<li><a href="/fundraisers">Fundraisers</a></li>
<li><a href="/schools">Schools</a></li>
<li><a href="/school-youth-community-groups">Holiday Programs & Community Groups</a></li>
<li><a href="/work-bucks-hens-and-social-groups">Work, Bucks, Hens & Social Groups</a></li>
<li><a href="/corporate">Corporate</a></li>
</ul>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="6">Attractions <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/laser-tag">Laserzone</a></li>
<li><a href="/driftzone">Driftzone</a></li>
<li><a href="/blastzone">Blastzone</a></li>
<li><a href="/retrozone-arcade">Retrozone Arcade</a></li>
<li><a href="/laser-tag-faq">Laser Tag FAQ</a></li>
<li><a href="/attractions-venue-gallery">Our Gallery</a></li>
</ul>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="4">Events <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/join-our-facebook-page">Visit us on facebook</a></li>
<li><a href="/email-updates">Email Updates</a></li>
</ul>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="2">Laser Sports <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/league-and-competition">League & Competition</a></li>
<li><a href="/league-faq">League FAQ</a></li>
</ul>
</li>
<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" article-count="6">Contact Us <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/contact-details">Contact Details</a></li>
<li><a href="/trading-hours">Trading Hours</a></li>
<li><a href="/book-online">Book Online</a></li>
<li><a href="/our-location">Our Location</a></li>
<li><a href="/employment">Employment</a></li>
</ul>
</li>
</ul></li>
</ul>

      </div>
    </div><!--/.container -->
  </div><!--/.navbar -->
</div><!--/#navbar -->
