<div class="row" id="Mega-party">
   <div class="col-md-6">
      <h3>
         <a name="self-catered-Mega-party"></a><span style="color: rgb(0, 255, 0);">Self-Catered Mega Party</span></h3>
      <p>
         <strong>Party Duration: 2 hours</strong> however allow 10 minutes arrival time before party start &amp; 10 minutes on the way out.</p>
      <p>
         <a href="contact-details#form"><button type="button" class="btn btn-danger btn-p">BOOK NOW <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
      <ul class="checklist">
         <li>
            20 Minutes in the Retrozone Arcade</li>
         <li>
            Mission Briefing so your party knows how to play!</li>
         <li>
            First Laserzone Mission session</li>
         <li>
            Second Laserzone Mission or Bumper Car ride</li>
         <li>
            Any food or drink you have brought to have</li>
         <li>
            Cake, gifts &amp; Happy Birthday song time</li>
         <li>
            Party Room for duration of party</li>
         <li>
            Third Laserzone Mission session</li>
      </ul>
      <p>
         <strong>$27</strong> per guest, Minimum <strong>10 guests</strong></p>
      <h4>
         <span style="color: rgb(0, 255, 0);">EXTRAS</span></h4>
      <ul class="checklist">
          <li>
            <strong>Ice Cream Cake:</strong> $20ea</li>
         <li>
            <strong>Bumper Car Ride:</strong> $5 per person</li>
         <li>
            <strong>Shooting Gallery:</strong> $2 per person</li>
         <li>
            <strong>Extra Missions:</strong> $7 (subject to availability)</li>
         <li>
            Invites available online, a printer friendly version is available below:</li>
      </ul>
      <p>
         <a href="uploads/downloads/NR-Megazone-Birthday-Invite-KC.pdf" target="_blank"><button class="btn btn-default btn-p btn-full-xs" type="button">PARTY INVITE (PDF) <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
      <p>
         <a href="uploads/downloads/NR-Megazone-Birthday-Invite-BW.pdf" target="_blank"><button class="btn btn-default btn-p btn-full-xs" type="button">PARTY INVITE (PDF)<span class="small"> - printer-friendly</span> <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
   </div>
   <div class="col-md-6">
      <h3>
         <a name="catered-Mega-party"></a><span style="color: rgb(0, 255, 0);">Catered Mega Party</span></h3>
      <p>
         <strong>Party Duration: 2 hours</strong> however allow 10 minutes arrival time before party start &amp; 10 minutes on the way out.</p>
      <p>
         <a href="contact-details#form"><button type="button" class="btn btn-danger btn-p">BOOK NOW <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
      <ul class="checklist">
         <li>
            20 Minutes in the Retrozone Arcade</li>
         <li>
            Mission Briefing so your party knows how to play!</li>
         <li>
            First Laserzone Mission session</li>
         <li>
            Second Laserzone Mission or Bumper Car ride</li>
         <li>
            Pizzas, jugs of cordial and water, popcorn, lollies &amp; all the plates and napkins</li>
         <li>
            Cake, gifts &amp; Happy Birthday song time</li>
         <li>
            Party Room for duration of party</li>
         <li>
            Third Laserzone Mission session</li>
      </ul>
      <p>
         <strong>$33</strong> per guest, Minimum <strong>10 guests</strong></p>
      <h4>
         <span style="color: rgb(0, 255, 0);">EXTRAS</span></h4>
      <ul class="checklist">
         <li>
            <strong>Ice Cream Cake:</strong> $20ea</li>
         <li>
            <strong>Bumper Car Ride:</strong> $5 per person</li>
         <li>
            <strong>Shooting Gallery:</strong> $2 per person</li>
         <li>
            <strong>Extra Missions:</strong> $7 (subject to availability)</li>
         <li>
            Invites available online, a printer friendly version is available below:</li>
      </ul>
      <p>
         <a href="uploads/downloads/NR-Megazone-Birthday-Invite-KC.pdf" target="_blank"><button class="btn btn-default btn-p btn-full-xs" type="button">PARTY INVITE (PDF) <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
      <p>
         <a href="uploads/downloads/NR-Megazone-Birthday-Invite-BW.pdf" target="_blank"><button class="btn btn-default btn-p btn-full-xs" type="button">PARTY INVITE (PDF)<span class="small"> - printer-friendly</span> <span class="glyphicon glyphicon-chevron-right"></span></button></a></p>
   </div>
</div>
<!--/.row-->
   <p class="footnote">
      ** <span class="glyphicon glyphicon-hand-right"></span> Cake not included in party package but can be added for $20. Plates and spoons provided.</p>
